@use "variables" as *;
@mixin mobile {
    @media (min-width: #{$mobile-width}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-self: center;
}
@mixin display-title {
    color: var(--primary-lemon, #f4ce14);
    /* Display Title */
    font-family: $font-primary;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
@mixin section-title {
    color: $primary-lemon;
    font-family: $font-secondary;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}
@mixin section-categories {
    /* Section Categories */
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}
@mixin lead-text {
    color: #fff;

    /* lead text */
    font-family: $font-secondary;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@mixin hightlight-text {
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@mixin card-title {
    /* Card Title */
    font-family: Karla;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
