// 這裡順序很重要！變數必須最先引入，因為後面的檔案會用到它
@use "variables" as *;
@use "mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500&family=Karla:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $primary-green;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
//layout
.container {
    margin: 0 auto;
    padding: 30px 20px;

    @include tablet {
        max-width: 720px;
        padding: 48px 0;
    }
    @include desktop {
        width: 100%;
        max-width: 960px;
    }
}
.row {
    @include flex-center;
    justify-content: space-between;
}

.mt-1 {
    margin-top: 10px;
}
// Font
.display-title {
    font-family: $font-primary;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
.sub-heading {
    font-family: $font-primary;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.lead-text {
    font-family: $font-secondary;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
