@use "../../styles/variables" as *;

.date-picker-wrapper {
    // 讓日曆背景變深綠色 (設計稿色系)
    .react-datepicker {
        background-color: $white;
        border: none;
        color: $black;
    }

    // 把按鈕改成檸檬黃
    .react-datepicker__day--selected {
        background-color: $primary-lemon !important;
        color: $black;
    }

    // 還有 header 的文字顏色等...
}
