@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
h1 {
    @include display-title;
}
h2 {
    @include lead-text;
}
h3 {
    @include section-title;
}
h4 {
    @include section-categories;
    color: $white;
    margin-top: 9px;
    margin-bottom: 5px;
}
.formSection hr {
    margin: 25px 0;
}
.reservationBlock {
    background: $primary-green;
    main {
        background: none;
    }
}
.infoSection {
    width: 100%;
    max-width: 458px;
    .map {
        width: 100%;
        img {
            width: 100%;
        }
    }
}
.formSection {
    width: 100%;
    max-width: 359px;
}
.stepBlock {
    background-color: none;
    gap: 40px;
}
.inputGroupRow {
    display: flex;
    // justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    gap: $gap;
    > div {
        flex-grow: 1;
    }
}
@include mobile {
    .stepBlock {
        display: flex;

        justify-content: space-between;
        align-items: flex-start;
    }
}
