@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
h1 {
    @include display-title;
}
h2 {
    @include lead-text;
}
h3 {
    @include section-title;
}
h4 {
    @include section-categories;
    color: $white;
    margin-top: 9px;
    margin-bottom: 5px;
}
.formSection hr {
    margin: 25px 0;
}
.reservationBlock {
    background: $primary-green;
    main {
        background: none;
    }
}
.infoSection {
    width: 100%;
    max-width: 458px;
    .map {
        display: block;
        margin-top: 40px;
        width: 100%;
        img {
            width: 100%;
        }
    }
    .infoList {
        margin-top: 9px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 9px;
        align-self: stretch;
        li {
            display: flex;
            align-items: flex-start;
            gap: 7px;
            align-self: stretch;
            h4 {
                margin-top: 0px;
                color: $secondary-white;
                font-family: $font-secondary;
                font-size: 16px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                text-transform: capitalize;
            }
            p {
                /* Hightlight text */
                @include hightlight-text;
                align-self: stretch;
                color: $secondary-white;
            }
        }
        img {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
        }
    }
}
.formSection {
    width: 100%;
    max-width: 359px;
}
.stepBlock {
    background-color: none;
    gap: 40px;
}
.inputGroupRow {
    display: flex;
    // justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    gap: $gap;
    > div {
        flex-grow: 1;
    }
}
.formBtn {
    display: block;
    width: 100%;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border: none;
    border-radius: 6px;
    background: $primary-lemon;
    margin-top: 25px;

    color: $primary-green;

    font-feature-settings: "calt" off;
    /* WF Buttons/Button Large */
    font-family: $font-secondary;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.18px;
}
@include mobile {
    .stepBlock {
        display: flex;

        justify-content: space-between;
        align-items: flex-start;
    }
}
