@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
.album {
    display: block;
    padding: 0;

    border-radius: 16px;
    overflow: hidden;

    img {
        width: 100%;
        display: block; //img 預設是 inline >有 line height
    }
}
