@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.custom-button {
    text-decoration: none;
    color: $black;

    font-family: $font-secondary;

    //關鍵：從 display: flex 改為 inline-flex
    // inline-flex 會讓這個元素像文字一樣「只佔據必要的寬度」
    // 但內部又保持 flex 的排版能力
    display: inline-flex;

    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 8px; // 參考圖片的圓角
    border: none;

    cursor: pointer;
    transition: opacity 0.2s;
    gap: 10px; // 圖示與文字的間距

    &:hover {
        opacity: 0.8;
    }

    .button-icon {
        display: flex;
        align-items: center;
        svg {
            width: 20px;
            height: 20px;
        }
    }
}
