@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
.special-card {
    box-sizing: border-box;
    border-radius: 16px;
    background: $white;
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    height: 100%;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    figure {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .stars {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}
.portrait-image {
    width: 27px;
    height: 27px;
    img {
        width: 100%;
    }
}
