@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
main {
    width: 100%;
}
.hero-section {
    background-color: $primary-green;
    color: $white;

    h1 {
        color: $primary-lemon;
        line-height: 100%;
    }
    h2 {
        line-height: 100%;
        margin-top: -14px;
        margin-bottom: 14px;
    }
}

.hero-section .container > div {
    gap: 40px;
    > div:first-child {
        max-width: 334px;
        // order: 2;
        padding: 0 10px;
    }
    > div:nth-child(2) {
        width: 100%;
        max-width: 334px;
        height: 356px;
        border-radius: 16px;
        background: url(../../assets/images/hero-cover.jpg) no-repeat center / cover;
    }
    @include flex-center(column);
    align-items: center;
    @include tablet {
        @include flex-center;
        width: 100%;
        justify-content: space-between;
        padding: 20px 0;
    }
}
.menu-section {
    .row {
        max-width: 334px;
        margin: auto;
        @include tablet {
            max-width: none;
        }
        align-items: center;
    }
    h3 {
        color: $black;
    }
}
.menu-wrapper {
    margin: 24px auto;
    max-width: 334px;
    @include flex-center(column);
    @include tablet {
        width: 100%;
        max-width: none;
        @include flex-center(row);
    }

    gap: 25px;
}
